@import "@common/styles/variables.scss";
@import "../dashboard/dashboard.module.scss";

.panel .buttons {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.panel .blackButton {
  background-color: #000;
  padding: 12px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.panel .buttons a {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 23px;
  box-shadow: 0 0.5px 0 0 #b0caeb;
  border: solid 1px $color-grey-200;
  padding: 12px;
  margin-left: 10px;

  span {
    margin: 0px 10px;
  }
}

.wordButton {
  display: flex;
  align-items: center;
  color: #0a3254;
  font-weight: 600;
}

.excel {
  display: flex;
  align-items: center;
  color: #2d97de;
  font-weight: 600;
}

.ppx {
  display: flex;
  align-items: center;
  color: #1f9ba5;
  font-weight: 600;
}

.searchArea {
  position: relative;

  input {
    width: 100%;
    border: none;
    margin: 25px 0 0;
    padding: 25px 80px;
    background-image: linear-gradient(to bottom,
        $color-grey-100,
        $color-grey-200 );
    border-bottom: 1px solid $color-grey-300;
    outline: none;
    font-size: 15px;
  }

  input::placeholder {
    color: $color-grey-400;
  }

  img {
    position: absolute;
    top: 50px;
    left: 50px;
  }
}

h2 {
  font-size: 15px;
  margin: 10px 0;
  font-weight: 500;
  line-height: 1.53;
  color: #696d80;
}

.lastUpdateText {
  padding: 25px 50px;
  font-weight: 500;
  line-height: 1.53;
  color: #696d80;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: #fff;
  box-shadow: inset 0px -25px 14px 0px rgba(245, 245, 247, 0.973);

  @media (max-width: 768px) {
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: inset 0px -10px 10px 0px rgba(245, 245, 247, 0.973);
  }
}

.filterButtons {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    overflow-x: scroll;
  }

  .filter {
    margin: 10px 10px 10px 0;

    input {
      display: none;
    }

    cursor: pointer;

    label {
      display: flex;
      align-items: center;
      padding: 6px 14px 6px 12px;
      border-radius: 18px;
      border: solid 1.5px $color-grey-200;
      background-color: $color-white;
      cursor: pointer;

      span {
        color: #696d80;
        display: block;
        margin-top: -3px;
        margin-left: 5px;
      }
    }
  }

  input[type="radio"]:checked~label {
    background-color: #d4f5f7;
    color: #1f9ba5;

    span {
      color: #1f9ba5;
    }

    svg {
      polygon {
        fill: #1f9ba5;
      }
    }
  }
}

.lastUpdateTable {
  margin-top: 10px;
  margin-bottom: 0px;
}

.tableItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4px;
  border-bottom: solid 1px $color-grey-200;

  &:hover {
    background-color: #d4f5f7;

    .tableItemDetail {
      .name {
        font-weight: bold;
        color: black;
      }

      svg g {
        fill: black;
      }
    }
  }

  .tableItemDetail {
    display: flex;
    align-items: center;
    width: 50%;

    svg {
      margin-right: 20px;
      height: 25px;
    }

    .name {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.53;
      color: $color-grey-600;
    }

    .path {
      font-size: 10px;
      font-weight: 500;
      line-height: 1.5;
      color: $color-grey-600;
    }

    @media (max-width: 768px) {
      width: 70%;
    }
  }

  .tableItemDate {
    width: 25%;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    letter-spacing: normal;
    color: $color-grey-600;

    @media (max-width: 768px) {
      width: 70px;
    }
  }

  .tableItemShare {
    width: 25%;
    text-align: end;

    @media (max-width: 768px) {
      width: 50px;
    }
  }
}

.tableFooter {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    justify-content: flex-end;
  }

  p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    letter-spacing: normal;
    color: $color-grey-400;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .tableFooterLink {
    display: flex;
    align-items: center;

    a {
      font-size: 13px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.62;
      letter-spacing: normal;
      color: #2d97de;
      margin-left: 20px;
    }
  }
}