.grid6and6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > div:nth-child(1) {
    width: 48%;
  }

  & > div:nth-child(2) {
    width: 48%;
  }
}

.ldapModalPasswordInput {
  position: relative;
  img {
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
  }
}

.successConnection {
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #696d80;
  border: 1px solid #2d865f;
}

.checkConnection {
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #696d80;
}
