.domainDNSTable {
  display: flex;
  flex-direction: column;
  gap: 28px;

  th {
    text-align: left;
    padding: 13px 10px;
  }

  td {
    padding: 13px 10px;
  }

  .header {
    font-size: 23px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: center;
    color: var(--neutral-900);
  }

  .notification {
    width: 600px;
    height: 80px;
    margin: 22px 0;
    padding: 15px;
    border-radius: 2px;
    background-color: #edf9fa;
    display: flex;
    flex-direction: row;
    border-top: 2.5px solid #0c727a;

    img {
      margin-right: 15px;
      width: 24px;
      height: 24px;
    }

    div {
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.53;
      letter-spacing: normal;
      color: #0c727a;
    }
  }
}
