@import "@common/styles/variables.scss";

.footerArea {
  .footerBanner {
    background-color: $color-grey-1000;
    color: $color-grey-400;
    display: flex;
    justify-content: center;
    padding: 60px;
    flex-direction: column;

    >div {
      margin: auto;
      text-align: center;
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      font-size: 44px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.34;
      letter-spacing: normal;
      text-align: center;
    }
  }
}

.footerBottom {
  background-color: $color-grey-900;
  padding: 23px 20px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;

  .footerLink {
    display: flex;
    align-items: center;
    flex-direction: row;

    >a,
    span {
      margin: 0 20px;
    }

    a {
      color: $color-grey-400;
    }

    span {
      color: $color-grey-600;
    }
  }

  @media screen and (max-width: 1200px) {
    .footerBottom {
      padding: 20px;
    }
  }

  @media screen and (max-width: 992px) {
    .footerArea {
      .footerBanner {
        padding: 30px;

        p {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .footerArea {
    .footerBanner {
      padding: 60px 20px;

      >div {
        font-size: 36px;
        width: 100%;
      }
    }
  }

  .footerBottom {
    display: block;

    .footerImg {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footerLink {
      flex-direction: column;

      >a,
      span {
        margin: 20px 20px 0px 20px;
      }
    }
  }
}