.adminPanel {
  padding: 35px 50px 100px 50px;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    strong {
      font-weight: 600;
    }

    h1 {
      font-size: 23px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }

  .adminCards {
    display: flex;
    justify-content: space-between;

    .card {
      background-image: linear-gradient(to bottom, $color-white, #f9fcff);
      width: 49%;
      position: relative;
      padding: 25px 30px;
      border: 1px solid $color-grey-200;
      h2,
      p,
      a,
      .count {
        position: inherit;
        z-index: 1;
      }

      h2 {
        font-size: 19px;
      }

      p {
        font-size: 15px;
        color: $color-grey-600;
      }

      a {
        font-weight: bold;
        color: $color-grey-800;
      }

      .count {
        font-size: 27px;
        color: $color-grey-600;

        small {
          font-size: 13px;
        }
      }

      .cardText {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
      }

      .cardTop {
        position: absolute;
        right: 80px;
        top: 0;
        pointer-events: none;
      }

      .cardLeft {
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
      }

      .cardRight {
        position: absolute;
        bottom: 0;
        right: 0;
        pointer-events: none;
      }

      .packages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        position: inherit;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .adminPanel {
    padding: 20px;

    .title {
      h1 {
        margin-bottom: 30px;
        font-size: 22px;
      }
    }

    .adminCards {
      flex-direction: column;

      .card {
        width: 100%;
        margin-bottom: 20px;
        .cardRight,
        .cardTop {
          display: none;
        }

        .packages {
          > div:last-child {
            display: none;
          }
        }
      }
    }
  }
}
