@import "@common/styles/variables.scss";
@import "@pages/dashboard/dashboard.module.scss";

.packageCard {
  margin: 30px 50px 5px 50px;
  padding: 20px;
  border: solid 1px $color-grey-900;
  border-radius: 2px;

  .packageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-grey-200;
    padding-bottom: 15px;

    .packageTitle {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        font-size: 23px;
        font-weight: 700;
        color: $color-grey-800;
        margin-right: 20px;
        margin-bottom: 0;
      }

      .packageLicence {
        padding: 5px 15px;
        background-color: #edf9fa;
        border-radius: 1px;
        font-size: 23px;
        font-weight: 700;
        margin-right: 15px;

        sup {
          top: -10px;
          font-size: 10px;
        }
      }
    }

    .packagePrice {
      text-align: end;
      color: $color-grey-600;

      span {
        color: #0098fa;
        font-weight: 600;
      }

      .colorBlue {
        color: #0098fa;
        font-weight: 700;
        font-size: 27px;

        sup {
          top: -12px;
          font-size: 14px;
        }
      }
    }
  }

  .packageFeatures {
    display: flex;
    flex-direction: row;
    gap: 20px;
    column-gap: 40px;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: flex-start;

    .featuresItem {
      width: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $color-grey-600;
      font-size: 15px;

      img {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .packageCard {
    margin: 20px;

    .packageHeader {
      align-items: flex-start;
      flex-direction: column;

      .packageTitle {
        flex-direction: column;
        align-items: flex-start;

        .packageLicence {
          margin: 10px 0;
        }
      }
    }

    .packageFeatures {
      flex-direction: column;

      .featuresItem {
        width: 100%;
      }
    }
  }
}
