@mixin caption {
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: var(--neutral-800);
  margin-bottom: 18px;
}

@mixin tableColumn {
  width: 600px;
  display: grid;
  grid-template-columns: 170px 260px 54px 115px;
  grid-template-rows: auto;
  background-color: #f5f6f7;
}

@mixin tableRow {
  width: 600px;
  display: grid;
  grid-template-columns: 170px 260px 54px 115px;
  grid-template-rows: auto;

  td {
    &:last-child {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      img {
        margin-top: 3px;
      }
    }
  }

  &.unSuccessfull {
    background-color: #af224f;
    color: #fff;
  }

  &.successfull {
    background-color: #2d865f;
    color: #fff;
  }

  &.unSuccessfullSecondly {
    background-color: #e6ad00;
    color: #000;
  }
}

.domainContainer {
  .caption {
    @include caption();
  }

  .table {
    width: 100%;

    .tableColumn {
      @include tableColumn();
    }

    .tableRow {
      @include tableRow();
    }
  }
}
